{% extends 'base.html' %}

{% load static %}

{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Contact us</li>
        </ol>
        <h2>Contact Us</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Contact Us</h2>
          </div>
          
          <div class="row mt-1 d-flex justify-content-end" data-aos="fade-right" data-aos-delay="100">
  
            <div class="col-lg-5">
              <div class="info">
                <div class="address">
                  <i class="icofont-google-map"></i>
                  <h4>Location:</h4>
                  <p>1145 BordenTown Ave, Suite 18, Parlin, NJ, 08859</p>
                </div>
  
                <div class="email">
                  <i class="icofont-envelope"></i>
                  <h4>Email:</h4>
                  <p>info@restorativepsych.com</p>
                </div>
  
                <div class="phone">
                  <i class="icofont-phone"></i>
                  <h4>Call Us Today:</h4>
                  <p>
                    732-727-4700
                    </p>
                </div>
  
              </div>
  
            </div>
  
            <div class="col-lg-7 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="100">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12141.266775611837!2d-74.29726482803345!3d40.468258281196995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3cbc36ba69fbb%3A0x7b4e73dced308fde!2s1145%20Bordentown%20Ave%20%2318%2C%20Parlin%2C%20NJ%2008859!5e0!3m2!1sen!2sus!4v1631464494131!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
  
          </div>  
          <div class="row mt-1 d-flex justify-content-end" data-aos="fade-right" data-aos-delay="100">
            <div class="col-lg-12 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="100">
                <h2>Message</h2>
                {% if source %}
                <p class="alert alert-warning">{{message}}</p>
              {% endif %}
              <form action="{% url 'message' %}" method="POST" class="php-email-form">
                {% csrf_token %}
                <div class="form-row">
                  <div class="col-md-3 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" />
                  </div>
                  <div class="col-md-3 form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" />
                  </div>
                  <div class="col-md-3 form-group">
                    <input type="text" class="form-control" name="phone" id="email" placeholder="Your Phone"  />
                  </div>
                  <div class="col-md-3 form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"  />
                  </div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" placeholder="Message"></textarea>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
  
            </div>
  
          </div>
  
        </div>
      </section><!-- End Contact Section -->
  
  </main><!-- End #main -->

  {% endblock %}